src/main/mule/assignment_01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7" xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="be3a78cc-7aa5-489d-bea2-4e91f8ba15e4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="71d33c77-39c2-489e-99c9-cdf5ec48ef36" >
		<file:connection workingDir="/Users/mounikad/Desktop/mulesoft" />
	</file:config>
	<flow name="assignment_01Flow" doc:id="d3ca28ee-b72d-4969-a95e-0aff8795b7e1" >
		<http:listener doc:name="Listener" doc:id="605d9bbd-8160-45ee-987f-285708e4d84a" config-ref="HTTP_Listener_config" path="/assignment-01"/>
		<file:read doc:name="Read" doc:id="fa524ba3-0c5b-4152-b5ca-42b4a183ae5d" config-ref="File_Config" path="/Users/mounikad/Desktop/mulesoft/assignment1.xml"/>
		<ee:transform doc:name="Transform Message" doc:id="81a9eb6a-94b6-4650-9d43-8469b5184946">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = true

---
payload.Items.*Item filter $.VendorID != null map ( item , indexOfItem ) -> {
	ItemCode: item.ItemCode default "",
	ItemName: item.ItemName default "",
	ItemDescription: item.ItemDescription default "",
	Price: item.Price default "",
	EXportValue: item.ExportValue default "",
	VendorID: item.VendorID as String default ""
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="NullVendor" ><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = true
---
payload.Items.*Item filter $.VendorID == null map ( item , indexOfItem ) -> {
	ItemCode: item.ItemCode default "",
	ItemName: item.ItemName default "",
	ItemDescription: item.ItemDescription default "",
	Price: item.Price default "",
	EXportValue: item.ExportValue default "",
	VendorID: item.VendorID as String default ""
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="b0c65d0d-8569-44ac-9bdc-1ccdb94cea94" config-ref="File_Config" path="/Users/mounikad/Desktop/result1" />
		<set-payload value="#[vars.NullVendor]" doc:name="Set Payload" doc:id="278824fc-9990-4a77-b4c2-89c948549e88" />
		<file:write doc:name="Write" doc:id="69a08474-d1f8-48c9-adce-a8cf07ac4834" config-ref="File_Config" path="/Users/mounikad/Desktop/result2"/>
	</flow>
</mule>
